body{
    background: url(背景bilibili.jpg) center no-repeat;
    background-size:110% 100% ;
    display: flex;
    width: 99%;
    height: 100%;
    border: 1px solid red;
    flex-direction: column;
}

header{
  height: 100px;
  width: 100%;
  background: #3be662;
}

main{
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: row;
}

aside{
  width: 200px;
  background: #d7b052;
}

article{
  flex: 1;
  background: #b1c2bd;
  text-align: center;
}

right{
  width: 200px;
  text-align: center;
;
}
right button{
    color: rgba(255, 255, 255, 0.8);
    border-radius:40px;
    border-width: 2px;
    border-color: rgba(100,149,237, 0.6);
    background: rgba(0,0,0,0.3);
    font-size: 100%;
    font-family: "黑体";
    font-weight: 800;
    width: 100px;
    height: 50px;
    margin: 20px 0px 0px 0px;

}

footer{
    width: 100%;
    text-align: center;    
    color: rgba(250, 250, 250, 1.0);
    font-size: 150%;

}

footer a{
    color: rgba(250, 250, 250, 0.6);
    font-weight: 800;
    font-size: 100%;



}

a{
    text-decoration: none;}


