body{
        width: 200%;
        background: url(picture/qQLm0veeXW.jpg) center ;
        background-size:100% 100% ;
        display: flex;
        flex-direction: column; 
}

main{
        display: flex;
        flex-direction: row;

}

aside{
        width: 300px;
        height: 550px;
        margin:11px 0px 0px 25px ;

}
header{
      height: 60px;
      width: 100%;
      ;
}

article{
        flex: 1;
        height: 600px;
}

footer{
        width: 50%;
        font-size: 145%;
        font-weight:bold;
        color:rgba(105,105,105,0.8);
        clear: both;
        display: block;
        text-align: center;    

}

a{
        text-decoration: none;}

.cssmenu > ul{

                list-style-type:none;
                margin:0px 0px 0px 0px;
                float:left;
}

.cssmenu > ul >li :hover {
                font-weight:800;
                background-color:rgba(0,0,0,0.05);
        }


.cssmenu > ul >li{
                float:left;
                margin: 0px 50px 0px 0px;
        }

.cssmenu >ul >li >a{
                font-weight:500;
                font-size:250%;
                color: #000;
                text-decoration:none;

        }

img{
                border-style:inset ;
                border-color:rgba(250,250,250,0.1) ;
}




input,textarea{
                border: 1px solid #ccc;
                padding: 7px 0px;
                border-radius: 3px;
                padding-left:5px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}


.content {
        position: absolute;
        background: #111;
}

.wrap {

        position: absolute;
        text-align: center;
        width: 100%;
        top: -15px;
        bottom:0px;
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
}
.wrap h1.title {
        display: table;
        font-size: 110%;
        height: 100%;
        text-transform: uppercase;
        width: 100%;
        color: white; 
        text-shadow: 0px 0px 15px #00FFFF,0px 0px 15px #00FFFF,0px 0px 15px #00FFFF; 

}
.hoverimage {
        transition-duration: 1s;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        color: #fff;
        text-decoration: none;
        opacity: 0;
}
.hoverimage:hover {
        opacity: 0.9;
        color: #fff;
        background: rgba(0,0,0,0.8);
}

#arrow{
        z-index:2;
        position: absolute;
        width:50px;
        height: 200px;
        transition: 1.5s;
}

#link:hover #arrow{
 background: rgba(0,0,0,0.3);
 height: 50px;
}




#link{
        position:absolute; 
        left: 1480px;
        top: 220px;
        background: rgba(255, 255, 255, 0.8);
        width:1px;
        height: 200px;
        transition: 1.5s;

}


#link:hover{
        width: 55px;
        height: 54px;
        margin: 75px 0px 0px 0px;
}